<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Proyecto Integrador - Nosotros</title>
  </head>

  <body>
    <header class="main-header">
      <input type="checkbox" id="menu2" />

      <nav class="nav-bar">
        <!-- nav-bar -->
        <ul class="nav-bar__nav-list">
          <img
            src="/public/img/pinguino.png"
            alt="Electronic"
            class="nav-bar__logo"
          />
          <li class="nav-bar__nav-item">
            <a href="../index.html" class="nav-bar__nav-link">
              Inicio</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a href="#" class="nav-bar__nav-link"
              >
              Alta</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a href="contacto.html" class="nav-bar__nav-link"
              >
              Contacto</a
            >
          </li>
          <li class="nav-bar__nav-item">
            <a href="#" class="nav-bar__nav-link"
              >
              Nosotros</a> 
          </li>
        </ul>
      </nav>
      <!-- nav-bar -->
      <div class="menu-toggle2">
        <label for="menu2" class="menu-toggle2__label">
          <img
            src="/public/img/Logo.png"
            alt="Electronic"
            class="nav-bar__logo"
          />
        </label>
      </div>
    </header>
    <main>
      <div class="imagen-conteiner">
        <img
          class="imagen-conteiner__heading"
          src="/public/img/" alt="cabecera"/>
      </div>
      <section class="section-nosotros">
        <h1 class="titulo">NOSOTROS</h1>
        <div class="bloque-conteiner">
          <h2 class="bloque-conteiner__heading">Nosotros</h2>
          </div>
      </section>
    </main>
    <footer class="nosotros-footer">
      <p class="main-footer__paragraph">
        *Vendedores Oficiales*
      </p>
      <p class="main-footer__paragraph">
      COPYRIGHT PinguinoTecnologico - 2023 Todos los derechos reservados.
      </p>
    </footer>
    <script type="module" src="/main.js"></script>
  </body>
</html>